body
{
    background-color: rgb(220,220,220);
}
.btn
{
    display: inline-block;
    height: 50px;
    width:250px;
    border-radius: 30% 0% 30% 0%;
    background-color: orange;
    text-align: center;
    padding:15px 0px;
    color: white;
    box-sizing: border-box;
    margin: auto;
    transition: border-radius 0.5s, background-color 0.5s;
    
}
.btn:hover
{
    border-radius: 10% 10% 10% 10%;
    color:peachpuff;
    background-color: chocolate;
    cursor: pointer;
}
.center
{
    display: block;
    margin: 30px auto 0px auto;
}

